<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">


	<context:component-scan base-package="com.wait" />

	<bean id="greetingController" class="com.wait.controllers.GreetingController">
		<property name="helloWorldService" ref="helloWorldService" />
		<property name="helloWorldServiceRussian" ref="helloWorldServiceRussianImpl" />
	</bean>

	<bean id="helloWorldFactory" class="com.wait.services.HelloWorldFactory" />
	<bean id="helloWorldServiceRussianImpl" factory-bean="helloWorldFactory"
		factory-method="getHelloWorldService">
		<constructor-arg value="russian"></constructor-arg>
	</bean>

	<beans profile="english">
		<bean id="helloWorldService" factory-bean="helloWorldFactory"
			factory-method="getHelloWorldService">
			<constructor-arg value="english"></constructor-arg>
		</bean>
	</beans>

	<beans profile="polish">
		<bean id="helloWorldService" factory-bean="helloWorldFactory"
			factory-method="getHelloWorldService">
			<constructor-arg value="polish"></constructor-arg>
		</bean>
	</beans>
</beans>
